.container {
	padding: 15px var(--margin);

	[class*='Cell-today'] {
		color: #fff;
		font-weight: bold;
	}

	& > div:first-child {
		& > div:first-child {
			& > div:first-child {
				background-color: rgb(0, 0, 0, 0.01);

				& > div:nth-child(2) {
					& > button:nth-child(3) {
						padding: 10px 15px;
						margin-left: 5px;

						span {
							opacity: 0.6;
						}
					}
				}

				& > div:nth-child(4) {
					border-radius: var(--radius);

					& > div:nth-child(1) {
						text-transform: none;
					}
				}
			}
		}
	}
}

.calendar_appoint {
	display: flex;
	align-items: center;
	color: #fff !important;
	font-weight: bold;
	margin-left: 5px;

	svg {
		width: 20px;
		height: 20px;
		position: relative;
		top: -2px;
		margin-right: 5px;
	}
}

.calendar_tooltip_userName {
	& > div:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 5px;
	}

	& > div {
		svg {
			opacity: 0.6;
		}
	}
}

.calendar_appoint_title {
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
	display: block;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
