@import 'styles/mixins';

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	font-size: 1em;
	line-height: 1.3;

	@include for-size(phone-portrait) {
		flex-direction: column;
		align-items: flex-start;
	}

	.text {
		max-width: 65%;
		opacity: 0.8;

		@include for-size(phone-portrait) {
			max-width: 100%;
			margin-bottom: var(--margin);
		}
	}

	.textFullWidth{
		max-width: 100%;
	}
}
