@import 'styles/mixins';

.container {
	display: flex;
	padding: 0 var(--margin);
	width: 100%;

	@include for-size(phone-landscape) {
		padding: 20px var(--margin);
	}

	@include for-size(phone-portrait) {
		flex-direction: column-reverse;
	}
}
