@import 'styles/mixins';

.container {
	margin-left: 15px;
	width: 100%;
	overflow-x: auto;

	@include for-size(phone-portrait) {
		margin-left: 0;
		margin-bottom: 15px;
	}

	.slider {
		width: 100%;
		min-width: 850px;
		display: grid;
		grid-template-columns: 260px 170px auto auto;
		grid-template-rows: repeat(6, 12px);
		grid-gap: 15px;
		height: 100%;

		& > div:first-child {
			grid-row: 1/4;
		}

		& > button:nth-child(2) {
			grid-row: 4/7;
		}

		& > button:nth-child(3) {
			grid-row: 1/4;
			grid-column: 3/4;
		}

		& > button:nth-child(4) {
			grid-row: 4/7;
		}

		& > button:nth-child(5) {
			grid-row: 1/4;
			grid-column: 2/3;
		}

		& > button:nth-child(6) {
			grid-row: 4/7;
		}

		& > button:nth-child(7) {
			grid-row: 1/4;
		}
	}
}
