@import 'styles/mixins';

.container {
	grid-column: 2/-1;
	width: 100%;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	@include for-size(phone-portrait) {
		grid-column: 1/-1;
		grid-row: 1/2;
	}

	.slider {
		width: 100%;
		min-width: 822px;
		display: grid;
		grid-template-columns: 260px 173px 185px 173px;
		grid-template-rows: repeat(2, calc(75px - calc(var(--margin) - 5px) / 2));
		column-gap: var(--margin);
		row-gap: calc(var(--margin) - 5px);
		height: 150px;

		span:nth-child(2),
		button:nth-child(2) {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		span:nth-child(4),
		button:nth-child(4) {
			grid-column: 2/3;
			grid-row: 2/3;
		}

		span:nth-child(5),
		button:nth-child(5) {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		span:nth-child(6),
		button:nth-child(6) {
			grid-column: 3/4;
			grid-row: 2/3;
		}
	}
}

.container::-webkit-scrollbar {
	display: none;
}
