@import 'styles/mixins';

.container {
	grid-column: 2/-1;
	width: 100%;
	overflow-x: auto;

	@include for-size(phone-portrait) {
		grid-column: 1/-1;
		grid-row: 1/2;
	}

	.slider {
		width: 100%;
		min-width: 822px;
		display: grid;
		grid-template-columns: 260px 170px 185px 167px;
		grid-template-rows: repeat(6, 12px);
		column-gap: var(--margin);
		row-gap: calc(var(--margin) - 5px);
		height: 100%;

		& > div:first-child {
			grid-row: 1/4;
		}

		& > button:nth-child(2) {
			grid-row: 4/7;
		}

		& > button:nth-child(3) {
			grid-row: 1/4;
			grid-column: 3/4;
		}

		& > button:nth-child(4) {
			grid-row: 4/7;
		}

		& > button:nth-child(5) {
			grid-row: 1/4;
			grid-column: 2/3;
		}

		& > button:nth-child(6) {
			grid-row: 4/7;
		}

		& > button:nth-child(7) {
			grid-row: 1/4;
		}
	}
}
