.container {
	margin-top: 15px;
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	row-gap: 15px;
}

.fbBtn:first-child {
	background-color: #1778f2;

	&:hover,
	&:active {
		background-color: #1778f2;
	}

	span {
		color: #ffffff;
	}
}

.googleBtn:last-child {
	background-color: #e0e0e0;

	span {
		color: #333;
	}

	.googleIcon {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		position: relative;
		top: -2px;
	}
}
