.container {
	position: relative;
	width: 100%;
}

.outlined {
	& > div:first-child {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		z-index: 2;
	}

	& > div:nth-child(2) {
		input {
			padding-left: 50px;
		}
	}
}

.standard {
	& > div:first-child {
		position: absolute;
		top: 40%;
		left: 5px;
		transform: translateY(-50%);
		z-index: 2;
	}

	& > div:nth-child(2) {
		& > div:hover::before {
			border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
		}

		& > label:first-child {
			left: 35px;
			font-weight: bold;
			color: #555;
		}

		& > label[data-shrink='true'] {
			left: 00px;
		}

		input {
			padding-left: 35px;
		}
	}
}
