.row {
	height: 68px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	display: grid;
	align-items: center;
	grid-template-columns: 40px minmax(200px, 1fr) 120px 120px 193px 63px;
	column-gap: 15px;
	padding: 10px 0 10px var(--margin);

	&:last-child {
		border-bottom: none;
	}

	& > span {
		position: relative;
		border-right: 2px solid rgba(0, 0, 0, 0.1);
		opacity: 0.8;
		height: 100%;
		display: flex;
		align-items: center;

		&:first-child {
			width: 55px;
			text-align: center;
			justify-content: center;
			margin-left: -15px;
		}

		&:last-child {
			border-right: 0;
		}
	}
}
