.container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr auto;
	align-items: center;
	background: #fcfcfc;
	grid-template-rows: auto;
	column-gap: 15px;
	border: 2px solid transparent;
	border-radius: var(--radius);
	padding: 15px;

	.actions {
		display: grid;
		grid-template-columns: 45px;
		grid-template-rows: 45px 45px 45px;
		row-gap: 5px;

		button {
			width: 45px;
			height: 45px;
		}

		.colorButton {
			width: 45px;
			height: 45px;

			span {
				font-weight: bold;
				color: #fff;
			}
		}
	}

	.inputs {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		row-gap: 20px;

		& > div:first-child {
			margin-top: 6px;
		}
	}
}

.colors {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	column-gap: 5px;
	padding: 0 10px;

	li {
		button {
			border-radius: 100%;
			background-color: #1aa5bb !important;
		}

		&:nth-child(2) > button {
			background-color: #689f38 !important;
		}
		&:nth-child(3) > button {
			background-color: #ab47bc !important;
		}
		&:nth-child(4) > button {
			background-color: #ec407a !important;
		}
		&:nth-child(5) > button {
			background-color: #ef5350 !important;
		}
		&:nth-child(6) > button {
			background-color: #ef6c00 !important;
		}
	}
}
