@import 'styles/mixins';

.container {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);

	&:last-child {
		border-bottom: none;
	}

	.row {
		display: grid;
		column-gap: 15px;

		@include for-size(phone-portrait) {
			grid-template-columns: 100% !important;
			row-gap: var(--margin);

			.extraCount {
				width: 100% !important;
			}
		}
	}

	.options {
		margin-top: 15px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include for-size(phone-portrait) {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: flex-start;
			column-gap: 15px;
		}

		.actions {
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 15px;

			@include for-size(phone-portrait) {
				grid-template-columns: 100%;

				.addBtn {
					width: 100%;
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 60px;
			width: 95px;
			height: 2px;
			background-color: rgba(0, 0, 0, 0.2);

			@include for-size(phone-portrait) {
				display: none;
			}
		}
	}

	.optionsList {
		background-color: rgba(0, 0, 0, 0.02);
		padding: 20px 15px 15px 15px;
		margin: 15px 0;
		display: grid;
		grid-template-columns: 100%;
		row-gap: 15px;
		border-radius: var(--radius);
	}
}
