.footer {
	background: #547bae;
	height: 50px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	strong {
		color: #fff;
		font-size: 1.2rem;
	}

	div > a {
		color: #fff;

		&:last-child {
			margin-left: 10px;
		}
	}
}
