@import 'styles/mixins';

.container {
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid rgba(158, 157, 157, 0.2);
	padding: var(--margin) 0;

	@include for-size(phone-portrait) {
		flex-direction: column;
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	.content {
		display: flex;
		width: 100%;
		align-items: center;

		.cardNumber {
			font-style: italic;
			opacity: 0.8;
		}

		& > div {
			display: inline;
			max-width: 150px;
			overflow: hidden;
			margin: 0 var(--margin);

			& > strong,
			& > p {
				display: block;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.actions {
		display: flex;
		align-items: center;

		& > button:nth-of-type(1) {
			margin-right: calc(var(--margin) - 5px);
		}

		@include for-size(phone-portrait) {
			width: 100%;
			margin-top: 15px;
			justify-content: flex-start;
		}
	}
}

.mainBadge {
	background: var(--primary);
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	height: 35px;
	border-radius: var(--radius);

	@include for-size(phone-portrait) {
		display: none;
	}
}

.actionsBadge {
	display: none;

	@include for-size(phone-portrait) {
		display: flex;
		margin-right: 15px;
	}
}
