@import 'styles/mixins';

.container {
	position: relative;
	padding: 15px var(--margin);
	background-color: #fff !important;
	z-index: 10 !important;

	& > div:first-child {
		display: grid;
		grid-template-columns: 1fr auto auto auto auto;
		justify-content: flex-end;
		column-gap: 15px;
		min-height: 40px;
		height: 100%;
		padding: 0;

		@include for-size(phablet-landscape) {
			grid-template-columns: auto 1fr auto auto auto auto;
		}

		@include for-size(phone-landscape) {
			grid-template-columns: auto 1fr auto auto;
			justify-content: flex-start;
		}

		.menuBtn {
			display: none;

			@include for-size(phablet-landscape) {
				display: block;
			}
		}

		button:nth-child(5) {
			@include for-size(phone-landscape) {
				grid-column: 3/4;
			}
		}

		button:nth-child(2),
		button:nth-child(3),
		button:nth-child(4) {
			@include for-size(phone-landscape) {
				display: none;
			}
		}

		.search {
			height: 50px;

			@include for-size(phone-landscape) {
				display: none;
			}

			& > div {
				height: 100%;

				svg {
					opacity: 0.6;
				}
			}
		}

		.actions {
			color: #333;
		}
	}
}

.badgeBtn {
	span:first-child {
		span:last-child {
			position: relative;
			top: 2px;
		}
	}
}

.accountPic {
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		border-radius: 100%;
	}
}

.accountBtnContent > span {
	display: block;
	line-height: 1;
	text-align: left;
	margin: 0;
}

.accountBtnContent > span:last-child {
	font-size: 0.8em;
}

.snack {
	z-index: 5003 !important;
}
