@-webkit-keyframes GradAnim {
	0% {
		background-position: 0% 68%;
	}
	50% {
		background-position: 100% 33%;
	}
	100% {
		background-position: 0% 68%;
	}
}
@-moz-keyframes GradAnim {
	0% {
		background-position: 0% 68%;
	}
	50% {
		background-position: 100% 33%;
	}
	100% {
		background-position: 0% 68%;
	}
}
@keyframes GradAnim {
	0% {
		background-position: 0% 68%;
	}
	50% {
		background-position: 100% 33%;
	}
	100% {
		background-position: 0% 68%;
	}
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	.cover {
		position: absolute;
		left: 0;
		width: 50%;
		height: 100vh;
		top: 0;
		z-index: 2;
		transition: transform 0.5s ease-in-out;
		transition-timing-function: var(--transition);
		background: linear-gradient(125deg, #1bcbe6, #096de8, #511f73);
		background-size: 400% 400%;
		-webkit-animation: GradAnim 7s ease infinite;
		-moz-animation: GradAnim 7s ease infinite;
		animation: GradAnim 7s ease infinite;
	}

	.forms {
		height: 100%;
		display: flex;
		transition: transform 0.5s ease-in-out;
		transition-timing-function: var(--transition);
	}
}

@media screen and (max-width: 850px) {
	.container {
		.cover {
			display: none;
		}

		.forms {
			width: 200%;
		}

		.respLeft {
			transform: translateX(-50%);
		}
		.respRight {
			transform: translateX(0%);
		}
	}
}
