.search {
	width: calc(100% - 80px);
	position: relative;
	left: 40px;

	& > div:nth-child(1) {
		& > div:nth-child(2) {
			border-radius: var(--radius);
		}
	}
}

@media screen and (max-width: 450px) {
	.search {
		width: calc(100% - 50px);
		left: 25px;
	}
}
