.container {
	padding: 20px;
	display: grid;
	grid-template-columns: 100%;
	row-gap: 20px;

	hr {
		opacity: 0.2;
		margin: 5px 0;
	}

	.row {
		display: flex;
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.text {
			width: 320px;
			opacity: 0.8;
		}
	}
}
