@import 'styles/mixins';

.container {
	position: relative;
	width: 100%;

	.search {
		width: 100%;
		height: 50px;

		@include for-size(phone-landscape) {
			display: none;
		}

		& > div {
			height: 100%;

			svg {
				opacity: 0.6;
			}
		}
	}

	.searchBox {
		position: absolute;
		top: 55px;
		width: 100%;
		background: #fff;

		ul {
			max-height: 240px;
			overflow-y: auto;

			.row {
				display: grid;
				grid-template-columns: auto 1fr auto;
				justify-content: space-between;
				align-items: center;
				padding: 15px;
				grid-gap: 15px;
				border-bottom: 2px solid rgba(0, 0, 0, 0.1);

				&:last-child {
					border-bottom: none;
				}

				& > svg {
					height: 30px;
					width: 30px;
					opacity: 0.6;
				}

				div {
					opacity: 0.8;

					strong,
					p {
						display: block;
						width: 100%;
						height: 18px;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}
}
