.publishAnimation {
	display: flex;
	align-items: center;
	width: 125px;
	margin: 0 auto;
	margin-top: 20px;

	div:first-child {
		width: 30px !important;
		height: 30px !important;
		color: var(--purple);
	}

	p {
		color: var(--purple);
		position: relative;
		top: 3px;
		margin-left: 10px;
	}
}
