.dropDownLabel {
	cursor: pointer;
	transition: border 0.2s ease-in-out;
	display: flex;
	align-items: center;

	& > svg {
		margin-bottom: -10px;
		opacity: 0.8;
		margin-top: -10px;
		margin-right: 5px;
	}
}

.dropdownIcon {
	position: absolute;
	right: 50px;
	top: 40px;
	opacity: 0.5;
	transition: transform 0.2s ease-in-out !important;
}

.sliderContainer {
	position: relative;
	width: 100%;
	overflow-x: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.slider {
	display: flex;
	width: max-content;
}

.slider {
	.product:last-child {
		margin-right: 0;
	}
}

.helperOrError {
	margin-top: 5px;
	font-size: 0.9em;
}
