.container {
	padding: 15px var(--margin);

	.tableHeader {
		height: 68px;
		border-bottom: 2px solid rgba(0, 0, 0, 0.1);
		display: grid;
		align-items: center;
		grid-template-columns: 63px 1fr 80px 120px 120px 60px;
		column-gap: 15px;
		padding: 10px var(--margin);
		background-color: rgba(0, 0, 0, 0.03);

		& > strong {
			position: relative;
			border-right: 2px solid rgba(0, 0, 0, 0.1);
			opacity: 0.6;
			height: 100%;
			display: flex;
			align-items: center;

			&:last-child {
				border: none;
			}

			&:first-child {
				& > svg {
					margin-left: 12px;
				}
			}

			& > svg {
				margin-right: 5px;
			}
		}
	}
}
