@import 'styles/mixins';

.shadow {
	display: none;
	transition: opacity 0.2s ease-in-out;

	@include for-size(phablet-landscape) {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(10px);
		z-index: 11;
	}
}

.container {
	position: relative;
	width: 225px;
	background-color: rgb(243, 243, 243);
	border-radius: 0 10px 0 0;
	height: 100%;
	grid-row: 1/3;
	padding: var(--margin);
	z-index: 12;
	transition: transform 0.2s var(--transition);

	@include for-size(tablet-landscape) {
		width: 205px;
	}

	@include for-size(phablet-landscape) {
		position: absolute;
		top: 0;
		left: 0;
		width: 225px;
	}

	.brand {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #828282;
		border-bottom: 1px solid #c4c4c4;
		padding-bottom: 15px;

		.logo {
			img {
				object-fit: contain;
			}
		}
	}
}

.componentList {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: var(--margin);
	height: calc(100vh - 120px);
	overflow-y: auto;

	& > h3 {
		width: 100%;
		text-align: left;
		margin-bottom: 15px;
		opacity: 0.7;
		font-size: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.itemDrag {
		padding-bottom: 15px;

		.item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background: #fff;
			padding: 0 10px;
			width: 190px;
			height: 45px;
			border-radius: 10px;
			border: 2px solid var(--purple);
			font-size: 1.06em;

			svg {
				width: 25px;
				height: 25px;
				margin-right: 10px;
			}

			p {
				color: #333;
			}
		}
	}
}

@include for-size(phablet-landscape) {
	.closedTabContainer {
		transform: translateX(-225px);
	}

	.closedShadow {
		opacity: 0;
		pointer-events: none;
	}

	.openShadow {
		opacity: 1;
		pointer-events: all;
	}

	.openTabContainer {
		transform: translateX(0);
	}
}
