.sliderContainer {
	position: relative;
	left: 20px;
	width: calc(100% - 40px);
	overflow-x: scroll;
	align-self: flex-start;

	.slider {
		display: flex;

		.product {
			position: relative;
			width: 150px;
			height: 150px;
			background: #eee;
			border-radius: 10px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			cursor: pointer;
			overflow: hidden;
			padding: 10px;
			margin-right: var(--margin);

			.productClose {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			& > div > p {
				text-align: center;
			}

			& > div > span {
				font-size: 0.8em;
			}

			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			& > svg {
				height: 50px;
				width: 50px;
				opacity: 0.7;
			}
		}
	}
}

.requestGeo {
	margin-top: 10px;
}

.showCoupon {
	align-self: flex-start;
	margin-bottom: -20px;
	margin-left: 20px;
}

.requestGeoPreview {
	margin-bottom: 10px;
	margin-right: 10px;
}
